body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: grey;
}
#container {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  
 

}
h1 {
  margin-right: 10%;
}
#headerText{
  color: white;
}
.logregpart {
 margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;


}
#register,
#login {
  
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 4%;
  width: calc(35% - 100px);
  border-radius: 30px;
}
#regHead,
#logHead {
  display: flex;
  align-content: center;
  justify-content: center;

  margin-bottom: 20px;
}
input {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: "100%";
  border-radius: 5px;
  border-color: silver;
  font-size: 18px;
  
}
.header,
button,
#regHead,
#loghead {
  text-transform: uppercase;
}
button {
  height: 40px;
  width: 100%;
  background-color: #24a0ed;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  border: none;
}
a{
  text-decoration: none;
}
@media only screen and (max-width: 890px ) {
  .logregpart {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 120px; */
  }
  
  #register,
  #login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2%;
    width: calc(90%);
    margin: 20px;
    border-radius: 30px;
  }
  button {
    margin-bottom: 30px;
  }
  h1 {
    margin: auto;
  }
}
@media only screen and (max-width: 600px ) {
  .header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
  }}